name = "ClusteredLowRankSolver"
uuid = "cadeb640-247c-4e6d-a8b8-270aef5e1f95"
authors = ["nanleij <38724800+nanleij@users.noreply.github.com> and contributors"]
version = "0.2.2"

[deps]
AbstractAlgebra = "c3fe647b-3220-5bb0-a1ea-a7954cac585d"
Arblib = "fb37089c-8514-4489-9461-98f9c8763369"
BlockDiagonals = "0a1fb500-61f7-11e9-3c65-f5ef3456f9f0"
GenericLinearAlgebra = "14197337-ba66-59df-a3e3-ca00e7dcff7a"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
KrylovKit = "0b1a1467-8014-51b9-945f-bf0ae24f4b77"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"

[compat]
AbstractAlgebra = "0.24, 0.25, 0.26, 0.27,0.28"
Arblib = "0.6, 0.7, 0.8"
BlockDiagonals = "0.1"
GenericLinearAlgebra = "0.2, 0.3"
IterTools = "1"
KrylovKit = "0.5,0.6"
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
