name = "ClusteredLowRankSolver"
uuid = "cadeb640-247c-4e6d-a8b8-270aef5e1f95"
version = "1.2.1"
authors = ["nanleij <38724800+nanleij@users.noreply.github.com> and contributors"]

[deps]
Arblib = "fb37089c-8514-4489-9461-98f9c8763369"
BlockDiagonals = "0a1fb500-61f7-11e9-3c65-f5ef3456f9f0"
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
GenericLinearAlgebra = "14197337-ba66-59df-a3e3-ca00e7dcff7a"
IterTools = "c8e1da08-722c-5040-9ed9-7db0dc04731e"
KrylovKit = "0b1a1467-8014-51b9-945f-bf0ae24f4b77"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
MathOptInterface = "b8f27783-ece8-5eb3-8dc8-9495eed66fee"
Nemo = "2edaba10-b0f1-5616-af89-8c11ac63239a"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RowEchelon = "af85af4c-bcd5-5d23-b03a-a909639aa875"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"

[compat]
Arblib = "0.6, 0.7, 0.8, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7"
BlockDiagonals = "0.1, 0.2"
Combinatorics = "1.0, 1.1"
GenericLinearAlgebra = "0.2, 0.3"
IterTools = "1"
KrylovKit = "0.5, 0.6, 0.7, 0.8, 0.9, 0.10"
Nemo = "0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49, 0.50, 0.51, 0.52, 0.53, 0.54"
PrecompileTools = "1"
RowEchelon = "0.2"
Serialization = "1.9,1.10,1.11"
julia = "1.9"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
